{% extends 'base.html.twig' %}

{% block body %}
    <main role="main" class="container">
        {% if category is defined %}
            <hr>
            <h1>{{ category.nom }}</h1>
        {% endif %}

        {% if tag is defined %}
            <hr>
            <h1>{{ tag.nom }}</h1>
        {% endif %}
        <div class="row">
            <div class="container mt-8">
                <div class="album py-5">
                    <div class="container">
                        <div class="row">
                            {% for project in projects %}
                            <div class="col-md-4">
                                <div class="card mb-4">
       <img class="img-fluid" src="{{ vich_uploader_asset(project,'imageFile') }}" alt="">
                                    <div class="card-body">
                                        <h4>{{ project.nom }}</h4>
                                        <p class="card-text">{{ project.description }}</p>
                                        <p class="text-center">
                                            Proposé par: <br>
     <img class="img-thumbnail rounded-circle" width="30%"
          src="{{ vich_uploader_asset(project.proposePar,'imageFile') }}" alt="">
                                            <br> {{ project.proposePar.username }} <br>
                                            {% for tag in project.tags %}
    <a href="{{ path('projects_by_tag',{id:tag.id}) }}"> {{ tag.nom }}</a>
                                            {% endfor %}
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a href="{{ path('project_show', {id: project.id}  ) }}"
                                                   class="btn btn-sm btn-outline-secondary">
                                                    Voir le projet</a>
                                            </div>
                                            <small class="text-muted">
                                                {{ project.participations.count }} padawan(s)</small>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock body %}